.container * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* en el original hay que quitar esta regla para que quede en el body 
y el avercion de movil con una cuerry quitarla o reducirla  ya que no se ve bien  (no me recuerdo a que me referia cuando esto)*/

.container {
  /* background-color: #F5F5F5; */
  margin: 0;
  padding: 4% 10% 0 10%;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template:
    "header" auto
    "article" 1fr
    "footer" auto;
  ;

  header {
    grid-area: header;
  }

  article {
    grid-area: article;
  }

  footer {
    margin: 0px 0px 50px 10px;
    grid-area: footer;
  }
}

header {
  /* background-color: #e74d4d; */
  display: flex;
  justify-content: space-between;
  gap: clamp(10px, 2vw, 50px);
}

.article {
  /* background-color: #bedd35; */
  margin: 10px 10px;
}

.titlePrimaryUnderline {
  font-family: 'Roboto, sans-serif';
  text-decoration: underline;
  font-weight: bold;
  white-space: nowrap;
}

.hrDividingLine {
  border-radius: 3px;
  margin: 10px auto;
  border: none;
  height: 6px;
  width: 90%;
  background-color: #000;
}

/* clases para tamaño de pantalla de PC */
.textAlign {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

p {
  font-size: 25px;
  line-height: 1.3;
}

.container-align {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
  font-family: 'Roboto, sans-serif';
}

.button-lain {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: 16px;
  outline: none;
}




























@media screen and (max-width: 490px) {
  .container {
    background-color: #bedd35;
    padding: 0;
  }

  .container {
    display: grid;
    min-height: 100vh;
    grid-template:
      "header" auto
      "article" 1fr
      "footer" auto;
    ;

    .header {
      grid-area: header;
    }

    .article {
      grid-area: article;
    }

    .footer {
      grid-area: footer;
    }
  }

  .container header {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
  }

  .ImageLogo {
    width: 150px;
    height: 60px;
    margin-left: 0px !important;
  }

  .titlePrimaryUnderline {
    margin-right: 0%;
    font-size: 0.8rem;
  }

  .article {
    margin: 5px 10px;
  }

  .article p {
    font-size: 0.5rem !important;
  }

  h1 {
    margin-right: 0px !important;
  }

  .hrDividingLine {
    margin: 2px auto;
    border: none;
    height: 2px;
    width: 80%;
    background-color: #000;
  }

  adaptiveLayoutTodayDate {
    display: flex;
    justify-content: center;
  }
}













































/* @import "tailwindcss"; */


/* reset css */
/* body {
  margin: 0;
  padding: 0;
} */

/* estilos para la mediaquery de impresión  */
@media print {
  /* img {
    margin: 0 !important;
    padding: 0 !important;
    width: 50%;
    height: 50%;
  }

  select {
    display: none !important;
  }

  input {
    display: none !important;
  }

  textarea {
    display: none;
  } */

  /* de alguna manera esto esta rompiendo el modo de imprecion en algunas resoluciones cuando se comenta */
  /* button {
    display: none !important;
  } */

  /* Ocupa toda la altura */
  /* padding-bottom: 150px; */
  /* main {
    position: relative;
    min-height: 75vh;
  } */

  /* p {
    font-size: 15px !important;
    font-family: 'Roboto, sans-serif';
  } */

  /* h2 {
    font-size: 15px !important;
    font-family: 'Arial, sans-serif';
  }

  span {
    display: none !important;
  }

  .description-oc {
    margin-bottom: auto !important;
  }

  .header-divider {
    display: flex;
    display: block !important;
    place-items: center !important;
    width: 100% !important;
  }

  .hr-dividing-line {
    margin-top: -10px !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: black !important;
    border: 0 !important;
    height: 2px !important;
    width: 75% !important;
    visibility: visible !important;
    opacity: 1 !important;
  }


  .logo-container {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* padding: 20px; */
  /* .header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
  } */

  /* .header-text h1 {
    padding-top: 9% !important;
    padding-right: 10% !important;
    font-family: 'Roboto, sans-serif';
     text-decoration: underline;
    font-weight: bold;
    white-space: nowrap;
    font-size: 15px;
  } */

  /* .header-text p {
    font-size: 15px !important;
    padding-left: 1% !important;
    margin: 5px 0;
    font-size: 20px;
  } */

  /* padding: 20px 0; */
  /* .firm-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  } */

  /* .date-text {
    margin-top: -4px !important;
  } */

  /* .container-align-left p {
    margin-top: -10px !important;
  } */

  /* .no-print {
    display: none;
  } */

  /* .header {
    padding-top: 37px !important;
    padding-bottom: 70px !important;
  } */

}




/* Estilos para el encabezado */

/* p {
  margin: 5px 0;
  font-family: 'Roboto, sans-serif';
  font-size: 25px;
}

h2 {
  margin: 5px 0;
  font-family: 'Arial, sans-serif';
  font-size: 25px;
  text-decoration: underline;
}

textarea {
  margin-right: 5px;
  width: 73%;
  height: 100px;
  padding: 10px;
  font-family: 'Roboto, sans-serif';
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-lain {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: 16px;
  outline: none;
}

#recibe {
  display: block !important;
  width: 58%;
}

#entrega {
  display: block !important;
  width: 69%;
}

.firm-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-oc {
  margin-left: 5%;
  max-width: 83%;
}

.container-align-left {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  margin-left: 10%;
  font-family: 'Roboto, sans-serif';
}

.description-textarea {
  height: 40px;
}
  
.oc-display p {
  font-weight: bold;
  text-decoration: underline;
}

.date-container p {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: bold;
  margin-right: 10%;
}

.title {
  font-family: 'Roboto, sans-serif';
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.header-divider {
  display: grid;
  place-items: center;
  width: 100%;
} */

/* .dividing-line {
  height: 6px;
  width: 75%;
  background: black;
  border: none;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
} */

/* padding-bottom: 8%; */
/* .header {
  padding-top: 37px;
  padding-bottom: 98px;
} */

/* .logo-container {
  padding-left: 95px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.header-text {
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  width: 67%;
  text-align: center;
}

.header-text h1 {
  padding-bottom: 5px;
  padding-top: 10%;
  margin: 0;
  font-family: 'Roboto, sans-serif';
  text-decoration: underline;
  font-weight: bold;
  white-space: nowrap;
}

.header-text h1 strong {
  margin-left: 55%;
}

.header-info {
  text-align: center;
}

.header-text p {
  font-family: 'Roboto, sans-serif';
  position: relative;
} */

#print-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url('/img/printer.png');
  width: 64px;
  /* Ancho del contenedor */
  height: 64px;
  /* Alto del contenedor */
  background-size: cover;
  /* Ajusta la imagen al contenedor */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que se repita */
}


/* .hr-dividing-line {
  margin-top: -10px;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  background-color: black;
  border: 0;
  height: 6px;
  width: 75%;
  visibility: visible;
  opacity: 1;
}
    
.container-align-lef button {
  margin-right: 100%;
  color: rebeccapurple;
}

.button-accion {
  margin-right: 5px;
} */