/* @import "tailwindcss"; */ 


/* estilos para la mediaquery de impresión  */
@media print {
  
  .header-text h1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid #000;
  text-align: center;
  }

  .header-text h1 {
  padding-top: 20%;
  margin: 0;
  font-family: 'Roboto, sans-serif';
  text-decoration: underline;
  font-weight: bold;
  font-size: 24px;
  }

  .header-text p {
    margin: 5px 0;
    font-size: 20px;
  }

  button {
    display: none;
  }
}


/* Estilos para el encabezado */

p {
  margin: 5px 0;
  font-family: 'Roboto, sans-serif';
  font-size: 25px;
}
 
h2{
  margin: 5px 0;
  font-family: 'Arial, sans-serif';
  font-size: 25px;
  text-decoration: underline;
}

.container-align-left {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  margin-left: 10%;
  font-family: 'Roboto, sans-serif';
}

.text-bold {
  font-weight: bold;
}

.date-container p{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: bold;
  margin-right: 10%;
}

.title {
  font-family: 'Roboto, sans-serif';
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.header-divider {
  display: grid;
  place-items: center;
  width: 100%;
}

.dividing-line {
  height: 6px;
  width: 75%;
  background: black;
  border: none;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
}

.header{
  padding-top: 37px;
  padding-bottom: 8%;
}

.logo-container{
  padding-left: 95px;
}
.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.header-text {
  position: absolute; 
  left: 52%; 
  transform: translateX(-50%); 
  width: 67%; 
  text-align: center; 
}

.header-text h1 {
  padding-bottom: 5px;
  padding-top: 10%;
  margin: 0;
  font-family: 'Roboto, sans-serif';
  text-decoration: underline;
  font-weight: bold;
  white-space: nowrap; 
}
.header-text h1 strong{
  margin-left: 55%;
}
.header-info {
  text-align: center; 
}
.header-text p {
  font-family: 'Roboto, sans-serif';
  position: relative; 
}

/* .header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .TextNameCompany{
  padding-left: 60%;
  font-family: 'Roboto, sans-serif';
  text-decoration: underline;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}
.logo{
  } */

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
