.container * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    /* background-color: #F5F5F5; */
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template:
        "header" auto
        "article" 1fr
        "footer" auto;
    ;

    .header {
        grid-area: header;
    }

    .article {
        grid-area: article;
    }

    .footer {
        grid-area: footer;
    }
}

.header {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

/* .footer {
    background-color: green;
} */

.titlePrimaryUnderline {
    font-family: 'Roboto, sans-serif';
    text-decoration: underline;
    font-weight: bold;
    white-space: nowrap;
    font-size: 0.8rem;
}

.titleSecondary {
    margin-top: 3px;
    font-family: 'Roboto, sans-serif';
    font-weight: bold;
    white-space: nowrap;
    font-size: 1rem !important;
}

.article {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.article p {
    font-family: 'Roboto, sans-serif';
    font-size: 0.5rem;
    text-align: center;
}

.hrDividingLine {
    margin: 2px auto;
    border: none;
    height: 2px;
    width: 80%;
    background-color: #000;
}

.titleCenter {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textArea {
    width: 57%;
    height: 50px;
    padding: 10px;
    font-family: 'Roboto, sans-serif';
    font-size: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttonLain {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    width: -webkit-fill-available;
}

/* estilos de los formularios ---------------------------------------------------------------------------------------- */

/* estilo del formulario nombre el cliente FormNameClient */
.selectClient {
    text-align: center;
    margin-bottom: 5px;
    width: 44%;
    padding: 0.375rem 2.5rem 0.375rem 0.75rem;
    /* espacio extra a la derecha para la flecha */
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: url('/img/flecha.png');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    /* posición de la flecha */
    background-size: 0.65rem auto;
    /* tamaño de la flecha */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
    /* elimina estilo predeterminado del navegador */
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selectClient:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.selectClient option {
    text-align: left;
    font-size: 0.7rem;
}

.formClient {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* estilos del formulario oc FormOc */
.formOcInput {
    padding: 0.375rem 0.75rem;
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    /* 0.25rem en versiones anteriores */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    box-sizing: border-box;
}

.formOcInput:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.formOcInput::placeholder {
    color: #6c757d;
    opacity: 1;
}

.formOcInput:disabled {
    background-color: #e9ecef;
    opacity: 1;
    cursor: not-allowed;
}

.formOcInput[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

/* Estilo de botón tipo primary buttonPrimary */
.buttonPrimary {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    user-select: none;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    padding: 0.375rem 0.75rem;
    /* alto y ancho del botón */
    font-size: 0.6rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    /* bordes redondeados */
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

/* Efecto hover */
.buttonPrimary:hover {
    background-color: #0b5ed7;
    /* azul más oscuro al pasar el mouse */
    border-color: #0a58ca;
}

/* Estilo de botón tipo secondary */
.buttonSecondary {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    user-select: none;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    padding: 0.375rem 0.75rem;
    /* alto y ancho del botón */
    font-size: 0.6rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    /* bordes redondeados */
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

/* Efecto hover */
.buttonSecondary:hover {
    background-color: #5c636a;
    /* azul más oscuro al pasar el mouse */
    border-color: #565e64;
}

/* Estilo de botón tipo dark */
.buttonDark {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    user-select: none;
    background-color: #212529;
    border: 1px solid #212529;
    padding: 0.375rem 0.75rem;
    /* alto y ancho del botón */
    font-size: 0.6rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    /* bordes redondeados */
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

/* Efecto hover */
.buttonDark:hover {
    background-color: #1a1e21;
    /* azul más oscuro al pasar el mouse */
    border-color: #191c1f;
}

/* Estilo de botón tipo danger */
.buttonDanger {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    /* color del texto */
    text-align: center;
    user-select: none;
    background-color: #dc3545;
    /* rojo estilo Bootstrap */
    border: 1px solid #dc3545;
    padding: 0.375rem 0.75rem;
    /* alto y ancho del botón */
    font-size: 0.6rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    /* bordes redondeados */
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

/* Efecto hover */
.buttonDanger:hover {
    background-color: #c82333;
    /* rojo más oscuro al pasar el mouse */
    border-color: #bd2130;
}

.buttonLittle {
    padding: 0.2rem 0.75rem;
}

.descriptionOcWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Ocupa todo el espacio disponible en el article */
}

.descriptionOcControls {
    margin-top: auto;
    /* Empuja este elemento al fondo */
    padding-top: 20px;
}