/* estilos de los formularios ---------------------------------------------------------------------------------------- */

/* estilo del formulario nombre el cliente FormNameClient */
.selectClient {
    display: block;
    /* width: 100%; */
    padding: 0.375rem 2rem 0.375rem 0.75rem;
    /* espacio extra a la derecha para la flecha */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: url('/img/flecha.png');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    /* posición de la flecha */
    background-size: 0.65rem auto;
    /* tamaño de la flecha */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
    /* elimina estilo predeterminado del navegador */
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selectClient:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* estilo del formulario del la OC de FormOc */
.formOcInput {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    /* 0.25rem en versiones anteriores */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Arial, sans-serif;
}

.formOcInput:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.formOcInput::placeholder {
    color: #6c757d;
    opacity: 1;
}

.formOcInput:disabled {
    background-color: #e9ecef;
    opacity: 1;
    cursor: not-allowed;
}

.formOcInput[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}


/* estilos de los botones---------------------------------------------------------------------------------------- */

/* Estilo de botón tipo primary buttonPrimary */
.buttonPrimary {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    user-select: none;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    padding: 0.375rem 0.75rem;
    /* alto y ancho del botón */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    /* bordes redondeados */
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Arial, sans-serif;
}

/* Efecto hover */
.buttonPrimary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

/* Estilo de botón tipo secondary */
.buttonSecondary {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    user-select: none;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    padding: 0.375rem 0.75rem;
    /* alto y ancho del botón */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    /* bordes redondeados */
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Arial, sans-serif;
}

/* Efecto hover */
.buttonSecondary:hover {
    background-color: #5c636a;
    border-color: #565e64;
}

/* Estilo de botón tipo dark */
.buttonDark {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    user-select: none;
    background-color: #212529;
    border: 1px solid #212529;
    padding: 0.375rem 0.75rem;
    /* alto y ancho del botón */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    /* bordes redondeados */
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Arial, sans-serif;
}

/* Efecto hover */
.buttonDark:hover {
    background-color: #1a1e21;
    border-color: #191c1f;
}

/* Estilo de botón tipo danger */
.buttonDanger {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    /* color del texto */
    text-align: center;
    user-select: none;
    background-color: #dc3545;
    /* rojo estilo Bootstrap */
    border: 1px solid #dc3545;
    padding: 0.375rem 0.75rem;
    /* alto y ancho del botón */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    /* bordes redondeados */
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    cursor: pointer;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Arial, sans-serif;
}

/* Efecto hover */
.buttonDanger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}